body{
    margin:0;
    padding:0;
    background-image:url(pexels-lukas-1419939.jpg);
    max-width:auto;
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.loginbox{
    width: 70%;
    min-width:300px;
    min-height:80%;
    background-color: rgb(43, 17, 17);
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50% );
    box-sizing: border-box;
    padding:50px 20px;
    border-radius: 0 5%;
    box-shadow: 10px 10px 14px gray;
}


.avatar{
    width:100px;
    height:100px;
    background-color:white;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 46%;
}
h1{
    margin: 0%;
    padding:0 0 10px 20px;
    text-align:center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding:0;
    font-weight:small;
}
.loginbox input {
    width: 100%;
    margin-bottom: 11px;
}

.loginbox input[type="text"], input[type="password"],input[type="email"] {
    border: none;
    border-bottom:1px solid rgb(142, 107, 43);
    background:transparent;
    caret-color:brown;
    outline:none;
    height: 25px;
    color:rgb(214, 147, 22);
    font-size:16px;
}

.loginbox input[type="submit"] {
    border:none;
    outline:none;
    height: 40px;
    width: 40%;
    margin-left:30%;
    background-color: rgba(239, 186, 10, 0.6);
    border-radius: 20px;
    cursor: grab;
}

.loginbox input[type="submit"]:hover{
    background-color: orange;
    transition: ease-out;
    transition-property:all;
    transition-duration: 500ms;
    }

.loginbox a{
    font-size: 0.8em;
    color:orange;
    text-align: center;
    text-decoration:none;
    line-height: 25px;
}
/* Responsiveness */
@media screen and (max-width:850px){
    html{
        font-size: 15px;
    }
    .avatar{
        width:80px;
        height:80px;
        left: 43%;
        top: -37px;
    }
}